    /* font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif; 
    font-family: 'Montserrat', sans-serif;*/

    body {
        font-family: 'Lato', sans-serif;
        margin: 0;
        padding: 0;
    }

    #cabecera {
        margin: 0;
        padding: 0;
        background: rgba(53, 53, 53, 0), url(background2.jpg);
        background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url(background2.jpg);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url(background2.jpg);

        /* background-image: url(background2.jpg); */
        background-size: cover;
        background-position-x: left;
        height: 22rem;
    }

    @media (min-width: 1024px) {
        #cabecera {
            height: 30rem;
            background-attachment: fixed;
        }
    }





    /* Barra de Navegación */

    /* Barra Lateral */

    .hamburguesa {
        right: 1.5rem;
        bottom: 3rem;
        position: fixed;
        display: block;
        cursor: pointer;
        z-index: 3;
        padding: .7rem .5rem;
        border-radius: 50%;
        background-color: rgb(26, 187, 231);
        box-shadow: 0 .2rem .7rem black;
    }

    @media (min-width: 1024px) {
        .hamburguesa {
            display: none;
        }
    }


    .bar1,
    .bar2,
    .bar3 {
        width: 2rem;
        height: .3rem;
        background-color: white;
        margin: .3rem;
        transition: .4s;
    }

    .burguer-inclination .bar1 {
        -webkit-transform: rotate(-45deg) translate(-.5rem, .4rem);
        transform: rotate(-45deg) translate(-.5rem, .4rem);
    }

    .burguer-inclination .bar2 {
        opacity: 0;
    }

    .burguer-inclination .bar3 {
        -webkit-transform: rotate(45deg) translate(-.4rem, -.4rem);
        transform: rotate(45deg) translate(-.4rem, -.4rem);
    }


    #navbar {
        display: none;
    }

    @media (min-width: 1024px) {
        #navbar {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding-top: 45vh;

    }

    @media (min-width: 1024px) {
        .navbar {
            background-color: rgba(255, 255, 255, 0);
            position: static;
            padding-top: 0;
            display: table;
            direction: rtl;

        }
    }


    .navbar a {
        text-align: right;
        display: block;
        color: white;
        margin-bottom: 2rem;
        margin-right: 2rem;
        font-size: 2rem;
        text-decoration: none;
        font-family: 'Gilroy', sans-serif;
    }

    @media (min-width: 1024px) {
        .enlace-hover {
            margin-top: 1.5rem;
            margin-right: .5rem;
        }

        .enlace-hover:hover {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: .5rem;
        }

        .navbar a {
            margin: 0;
            padding: .5rem .7rem .5rem .7rem;
            font-family: 'Nunito', sans-serif;
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        .navbar a:hover {
            color: rgb(255, 255, 255);
            text-shadow: 0 0 .5rem rgba(255, 255, 255, 0.4);
        }

        .navbar .Inicio {
            color: rgb(0, 200, 255);
        }

        .navbar .Inicio:hover {
            color: rgb(0, 200, 255);
            text-shadow: 0 0 .5rem rgba(86, 218, 255, 0.4);
        }
    }

    /* Logo, Marca, Slogan */

    .brand {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    @media (min-width: 1024px) {
        .brand {
            padding-top: 0rem;
        }
    }

    .brand img {
        display: block;
        padding-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 6rem;
        padding-bottom: 0;
        margin-top: 0;
    }

    @media (min-width: 1024px) {
        .brand img {
            width: 10rem;
        }
    }

    .nombreBrand {
        font-family: 'Kaushan Script', cursive;        
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        color: white;
        text-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
    }

    @media (min-width: 1024px) {
        .nombreBrand {
            font-size: 5.5rem;
        }
    }

    .slogan {
        margin-top: 0;
        font-family: 'Lato';
        font-size: 1.4rem;
        text-align: center;
        font-weight: 300;
        text-shadow: 0 0 .8rem black;
        color: rgba(255, 255, 255, 0.767);
    }

    @media (min-width: 1024px) {
        .slogan {
            font-size: 2.4rem;
        }
    }


    .curva {
        margin-top: -3.6rem;
    }

    @media (min-width: 1024px) {
        .curva {
            display: none;
        }
    }


    /* Predeterminados */

    .title {
        margin-left: 1.3rem;
        font-size: 1.5rem;
        font-family: 'Gilroy', sans-serif;
    }

    a {
        text-decoration: none;
    }






    /* Carrusel de Artículos */

    #blog h2 {
        font-size: 2rem;
        margin-top: -3.4rem;
        margin-bottom: 0rem;
        color: black;
    }

    @media (min-width: 1024px) {
        #blog h2 {
            margin-top: 1rem;
            font-size: 3rem;
            width: 100%;
            text-align: center;
            margin-left: 0;

        }
    }


    .section-blog {
        margin-left: 1.3rem;
        color: rgb(187, 187, 187);
        border-top: 1px solid rgb(199, 199, 199);
        border-bottom: 1px solid rgb(199, 199, 199);
        font-family: 'Gilroy', sans-serif;
        padding-top: 1rem;
        padding-bottom: .9rem;
        margin-right: 50%;
    }

    @media (min-width: 1024px) {
        .section-blog {
            font-size: 2rem;
            text-align: center;
            margin-right: 25%;
            margin-left: 25%;
        }

        .section-blog:hover {
            background-color: rgb(207, 207, 207);
            color: white;
            text-shadow: 0 0 2.5rem black;

        }
    }


    #carrusel {
        width: 100%;
        overflow: scroll;
        position: relative;
    }

    @media (min-width: 1024px) {
        #carrusel {
            overflow: hidden;
        }
    }


    .contenedorCarrusel {
        white-space: nowrap;
    }

    @media (min-width: 1024px) {
        .contenedorCarrusel {
            white-space: normal;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: 1.5rem;
            margin-right: 1.5rem;

        }
    }


    .articulo {
        border-radius: 1rem;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.205));
        background-size: cover;
        width: 22rem;
        height: 14rem;
        margin-left: .7rem;
    }

    @media (min-width: 1024px) {
        .articulo {
            width: 98%;
            margin: 1%;
            height: 18rem;
            border-radius: .5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .articulo:hover {
            transform: scale(1.1);
            box-shadow: 0 0 4rem white;
            transition: all .4s;
        }

    }


    .articulo:active {
        scale: .9;
    }

    .articulo .titulo {
        padding-left: .7rem;
        font-size: 1.5rem;
        margin: 0;
        padding-bottom: .7rem;
        padding-top: 8.5rem;
        color: white;
        font-family: 'Gilroy', sans-serif;
    }

    @media (min-width: 1024px) {
        .articulo .titulo {
            font-size: 2.3rem;
        }
    }


    .articulo .subtitulo {
        font-size: 1rem;
        padding-left: .7rem;
        margin: 0;
        padding-top: 0;
        font-family: 'Nunito', sans-serif;
        color: #1ABCE7;
    }

    @media (min-width: 1024px) {
        .articulo .subtitulo {
            font-size: 1rem;
        }
    }

    /* Artículos Individuales */

    .perdon {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(Blog/Articulos\ del\ Blog/Perdón/perdon.jpg);
        background-size: cover;
    }

    .ectomorfo {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(Blog/Articulos\ del\ Blog/Ectomorfismo/ectomorfismo.jpg);
        background-size: cover;
    }

    .siesta {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(Blog/Articulos\ del\ Blog/Siesta/dormido.jpg);
        background-size: cover;

    }

    /* Quienes Somos */

    #quienes-somos {
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        background: linear-gradient(to top, rgba(0, 108, 138, 0.8), rgba(0, 108, 138, 0.8)), url(background2.jpg);
        background-size: cover;
    }

    @media (min-width: 1024px) {
        #quienes-somos {
            background-attachment: fixed;
        }
    }


    #quienes-somos h2 {
        font-size: 2rem;
        color: white;
        text-align: center;
        font-family: 'Gilroy', sans-serif;

    }

    @media (min-width: 1024px) {
        #quienes-somos h2 {
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
    }


    #quienes-somos p {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.1rem;

    }

    @media (min-width: 1024px) {
        #quienes-somos p {
            font-size: 1.4rem;
            padding: 0 22% 0 22%;
        }
    }




    /* Follow in Instagram */

    #cta {
        width: 100%;
    }
    @media (min-width: 1024px) {
        #cta {
            margin: 2rem auto 2rem auto;
        }
    }




    .follow-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1024px) {
        .follow-contact {
            display: flex;
            justify-content: center;
        }
    }

    .followMe {
        display: block;
        width: 90%;
        border: 2px solid #DBDBDB;
        border-radius: 1rem;
        margin: 4%;
    }
    @media (min-width: 1024px) {
        .followMe {
            display: block;
            margin: 0;
            width: 16rem;
            margin-right: 1rem;

        }
    }



    .followMe img {
        display: block;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 50%;
        width: 65%;
    }
    @media (min-width: 1024px) {
        .followMe img {
            width: 8rem;
        }
    }

    .followMe h3 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    @media (min-width: 1024px) {
        .followMe h3 {
            font-size: 1.3rem;
        }
    }



    .cta-follow {
        display: block;
        margin: auto;
        background-color: #0095f6;
        border-radius: .8rem;
        color: white;
        text-align: center;
        width: 80%;
        margin-bottom: 2rem;
        text-decoration: none;
    }
    @media (min-width: 1024px) {
        .cta-follow {
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 13rem;
            border-radius: 1rem;
        }
        .cta-follow:active {
            transform: scale(.9);
        }
    }


    .followMe a {
        text-decoration: none;
    }

    .cta-follow h4 {
        margin: 0;
        padding-bottom: .3rem;
        padding-top: .3rem;
    }
    @media (min-width: 1024px) {
        .cta-follow h4 {
            padding-bottom: .5rem;
            padding-top: .5rem;
            font-size: 1.2rem;
        }
    }


    /* NewsLetter */

    .newsletter{
        display: block;
        background-color: white; 
        margin-left: 2rem;
  
    }
    @media (min-width: 1024px) {
        /* .newsletter {

        } */
    }


    .newsletter h2 {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: .2rem;
    }
        @media (min-width: 1024px) {
        .newsletter h2 {
            font-size: 2rem;
            margin-bottom: .5rem;
            margin-top: 2rem;
        }
    }



    #cta .newsletter a {
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: rgb(145, 145, 145);
        font-size: .7rem;

    }
    @media (min-width: 1024px) {
        #cta .newsletter a {
            font-size: 1.2rem;
        }
    }


    .newsletter p {
        font-family: 'Montserrat', sans-serif;
        margin-top: 1rem;
        margin-left: 0rem;
        color: #1ABCE7;
    }
    @media (min-width: 1024px) {
        .newsletter p {
            margin-top: 3rem;

        }

    }


    

    /* .newsletter hr {
        margin-top: 1rem;
        height: .2rem;
        background-color: rgb(189, 189, 189);
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
        margin-right: 1.5rem;


    } */
